@page
@model IndexModel
@{
   ViewData["Title"] = "Home page";
}

<div class="text-center">
   <h1 class="text-5xl">Welcome</h1>
   <p>
      Styled with
      <a href="https://tailwindcss.com" target="_blank">TailwindCSS</a> using
      <a href="https://github.com/mvdmio/Tailwind.NET">mvdmio.Tailwind.NET</a>.
   </p>
</div>
