<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>@ViewData["Title"] - ASP.NET Core with mvdmio.Tailwind.NET</title>
   <link rel="stylesheet" href="~/tailwind.output.css" asp-append-version="true" />
</head>
<body class="w-screen h-screen flex flex-col">
   <header class="flex-shrink flex flex-row gap-4 bg-blue-300 px-4 py-2 h-12 items-center justify-start">
   <img src="~/img/mvdmio-logo.png" alt="logo" class="h-full" />
   <div>
   </div>
   <nav class="w-full">
      <a asp-area="" asp-page="/Index" class="text-black hover:text-black">Home</a>
   </nav>
</header>
   <main role="main" class="flex-grow">
      @RenderBody()
   </main>
   <footer class="flex-shrink w-full px-4 py-2 bg-neutral-300 text-center text-gray-700">
      &copy; @DateTime.UtcNow.Year - mvdm.io
   </footer>

   <script src="~/js/site.js" asp-append-version="true"></script>
   @await RenderSectionAsync("Scripts", required: false)
</body>
</html>